html
{
    background-color: #212929;

/*  background-color: #212929; */
/*  background-color: #A0A0A0; */



}

body
{
    text-align: left;
    width: 90%;
    margin: 0 auto;
    background-color: #212929;
    color: #33FFFF;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;

   /*  bluish color: 33FFFF; */

}

h1
{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-color: #212929;
    color:white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

   /*  bluish color: 33FFFF; */
h3
{
    text-align: left;
    width: 90%;
    margin: 0 auto;
    color:white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

h4
{
    text-align: left;
    width: 90%;
    margin: 0 auto;
    background-color: #212929;
    color:white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

a {
    color: white;
}
